{% extends 'people_base.html' %}
{% load static %}
{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <a class="text-white text-center px-3" href="{% url 'accounts:change' user_obj.pk %}">Редактирование личных данных</a>
        <a class="text-white text-center px-3" href="{% url "accounts:password_change" user_obj.pk %}">Смена пароля</a>
    {% endif %}
{% endblock %}

{% block contant %}
    <h1 class="ml-5 pt-5">Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    <div class="row">
        <div class="col-4">
            {% if user_obj.profile.avatar %}
                <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
            {% else %}
                <img src="{% static "image/ava_.png" %}" alt="ava">
            {% endif %}
        </div>
        <div class="col-5">
            <p>Имя: {{ user_obj.first_name }} | Фамилия: {{ user_obj.last_name }}</p>
            <p>Профиль на GitHub: <a href="{{ user_obj.profile.git_hub }}">{{ user_obj.profile.git_hub }}</a></p>
            <p>Почта: {{ user_obj.email }}</p>
            <p>О себе: {{ user_obj.profile.about_me }}</p>
        </div>
        <div class="col-3">
            {% if request.user != user_obj %}
                {% if request.user not in friends %}
                    <a href='{% url 'accounts:add_friend' %}' class="btn btn-primary my_button" onclick="AddFriend(event)"
                       id="{{ user_obj.pk }}">Добавить в друзья
                    </a>
                    {% else %}
                    <a href='{% url 'accounts:delete_friend' %}' class="btn btn-warning my_button" onclick="DeleteFriend(event)"
                        id="{{ user_obj.pk }}">Удалить из друзей
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <h2 class="text-center clear">Друзья:</h2>
    {% include 'partial/friends_list.html'  with friends_list=friends_list%}
    <script type="application/javascript" src="{% static "js/add_friend.js" %}"></script>
{% endblock %}